.tasks-calendar__wrapper {
	min-width: 350px;

	@media (width <= 768px) {
		padding-bottom: 40px;
	}

	.tasks-calendar__button {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0 5px;
		border: none;
		outline: none;
		-webkit-tap-highlight-color: transparent;
		cursor: pointer;
		background-color: transparent;
		color: var(--color-base-100);
		border-radius: 20px;
		padding: 5px;
		box-shadow: none !important;
	}

	.tasks-calendar__container {
		display: flex;
		flex-direction: column;
		gap: 20px;
		max-width: 350px;
		margin: 0 auto;

		.tasks-calendar__calendar {
			border-radius: 20px;
			border: 1px solid var(--color-base-30);
			overflow: hidden;
			width: 100%;
			background: var(--color-base-00);

			.tasks-calendar__inner-header {
				display: flex;
				align-items: center;
				height: 40px;
				border-bottom: 1px solid var(--color-base-30);

				.tasks-calendar__inner-nav-title {
					font-size: 16px;
					font-weight: bold;
					min-width: 180px;
					height: 40px;

					&.--is-current-month {
						color: var(--color-accent);
					}

					@media (width >= 768px) {
						&:hover {
							background-color: var(--color-accent);
							color: white;
						}
					}

					@media (width <= 768px) {
						font-size: 14px;
					}

					&:active {
						background-color: color-mix(in srgb, var(--color-accent), white 20%);
						color: white;
					}
				}

				.tasks-calendar__inner-nav-buttons-group {
					display: flex;
					align-items: center;
					margin-left: auto;

					.tasks-calendar__inner-nav-prev-button {
						width: 40px;
						height: 40px;

						svg {
							width: 20px;
							height: 20px;
						}

						@media (width >= 768px) {
							&:hover {
								background-color: var(--color-accent);
								color: white;
							}
						}

						&:active {
							background-color: color-mix(in srgb, var(--color-accent), white 20%);
							color: white;
						}
					}

					.tasks-calendar__inner-nav-next-button {
						width: 40px;
						height: 40px;

						svg {
							width: 20px;
							height: 20px;
						}

						@media (width >= 768px) {
							&:hover {
								background-color: var(--color-accent);
								color: white;
							}
						}

						&:active {
							background-color: color-mix(in srgb, var(--color-accent), white 20%);
							color: white;
						}
					}
				}
			}

			.tasks-calendar__inner-calendar {
				.tasks-calendar__inner-grid {
					width: 100%;

					.tasks-calendar__grid-header {
						display: grid;
						grid-template-columns: repeat(7, 1fr);
						border-bottom: 1px solid var(--color-base-30);

						.tasks-calendar__grid-week-name {
							padding: 5px;
							font-size: 14px;
							font-weight: bold;
							text-align: center;
							border-right: 1px solid var(--color-base-30);

							&:last-child {
								border-right: unset;
							}
						}
					}

					.tasks-calendar__grid-week-numbers {
						display: grid;
						grid-template-columns: repeat(7, 1fr);
						grid-template-rows: repeat(5, 1fr);

						.tasks-calendar__grid-week-day {
							border-radius: unset;
							height: 40px;
							position: relative;
							border-right: 1px solid var(--color-base-30);
							border-bottom: 1px solid var(--color-base-30);

							&:nth-child(7n + 7) {
								border-right: unset;
							}

							&:nth-child(1n + 36) {
								border-bottom: unset;
							}

							&.--is-today {
								color: var(--color-accent);
								font-weight: bolder;
							}

							&.--is-other-month {
								color: color-mix(in srgb, var(--color-base-100), black 50%);
							}

							&.--is-focused {
								background-color: var(--color-accent);
								color: white;
							}

							.tasks-calendar__grid-week-day--dot {
								position: absolute;
								top: 5px;
								right: 5px;
								width: 5px;
								height: 5px;
								background-color: var(--color-red);
								border-radius: 50%;
							}

							@media (width >= 768px) {
								&:hover {
									background-color: var(--color-accent);
									color: white;
								}
							}

							&:active {
								background-color: color-mix(in srgb, var(--color-accent), white 20%);
							}
						}
					}
				}
			}
		}

		.tasks-calendar__tasks {
			width: 100%;

			.tasks-calendar__tasks-tasks {
				overflow-wrap: break-word;

				.block-language-tasks {
					.contains-task-list {
						display: flex;
						flex-direction: column;
						gap: 10px 0;
						margin-top: 10px;

						&:first-child {
							margin-top: 0;
							padding-inline-start: 0;

							> .task-list-item {
								.task-list-item-checkbox {
									margin-inline-start: 0;
								}
							}
						}
					}
				}
			}

			.tasks-calendar__actions {
				margin-bottom: 20px;
				position: relative;

				.action-input {
					width: 100%;
					height: 40px;
					padding-right: 45px;
				}

				.action-create {
					position: absolute;
					top: 0;
					right: 0;
					width: 40px;
					height: 40px;

					svg {
						width: 20px;
						height: 20px;
					}

					@media (width >= 768px) {
						&:not(:disabled):hover {
							background-color: var(--color-accent);
							color: white;
						}
					}

					&:not(:disabled):active {
						background-color: color-mix(in srgb, var(--color-accent), white 20%);
						color: white;
					}

					&:disabled {
						opacity: 0.4;
						cursor: default;
					}
				}
			}
		}
	}

	.tasks-calendar__loading {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0 10px;
	}
}
